body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* =========== NavBar Styles ==========*/
.navContainer {
  height: 100px;
  background-color: #30e3ca;
}

.navItemsContainer {
  display: flex;
  float: right;
  padding-right: 100px;
  padding-top: 20px;
  font-family: 'Inter', sans-serif;
}

.navTitle {
  display: flex;
  float: left;
  padding-left: 100px;
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
}
